#startBTN{
    margin-top:25px;
}
body{
    background-color:lightblue
}
.multipleChoices{
    height:50px;
    width:auto;
    border:none;
    opacity: 100%;
    font-size: 25px;
    background-color:lightblue;
    margin-top:5px;
}
.multipleChoices:hover{
    border:1px solid black;
}